[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=Stash

# A comment which can/will be used as a tooltip
Comment=A new way to manage your bookmarks!

# The executable of the application, possibly with arguments.
Exec=/home/evildave/dev/stash/target/release/stash

# The name of the icon that will be used to display this entry
Icon=/home/evildave/dev/stash/assets/app-icon.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Utility;Application;
